<h2><%= l(:newissuealerts_edit, :project => @project.name) %></h2>
<% form_for :newissuealert, @newissuealert , :url => { :project_id => @project.identifier, :id => @newissuealert.id }do |f| %>
  <%= f.error_messages %>
  <div class="box tabular settings">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= submit_tag l(:save), :name => "save" %>
      <%= submit_tag l(:delete), :name => "delete", :confirm => l(:newissuealerts_deletion_confirm) %>
    </p>
  </div>
<% end %>

