<h2><%= raw l :newissuealerts_new, :project => h(@project.name) %></h2>
<%= labelled_form_for @newissuealert, url: newissuealerts_path(@project) do |f| %>
  <%= error_messages_for 'newissuealert' %>
  <div class="box tabular settings">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit l(:create) %>
    </p>
  </div>
<% end %>
