<h2><%= raw l :newissuealerts_index, :project => h(@project.name) %></h2>

<% if authorize_for :newissuealerts, :new %>
  <p>
  <%= link_to(l(:newissuealerts_text), new_newissuealert_path(@project), :class => 'icon icon-add' ) %>
  </p>
<% end %>

<% for alert in @project.newissuealerts %>
  <div class="box tabular settings">
    <p><label><%= l(:field_mail_addresses) %>:</label> <%= alert.mail_addresses %></p>
    <p><label><%= l(:field_enabled) %>:</label> <%= alert.enabled ? l(:general_text_yes) : l(:general_text_no) %></p>
    <p><label><%= l(:field_priority) %>:</label> <%= alert.priority ? l(:general_text_yes) : l(:general_text_no) %></p>
    <% if authorize_for :newissuealerts, :edit %>
      <p>
      <%= link_to l(:button_edit), edit_newissuealert_path(@project, alert), :class => 'icon icon-edit' %>
      <%= delete_link newissuealert_path(@project, alert) %>
      </p>
    <% end %>
  </div>
<% end %>

